* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 18px;
  font-family: Verdana, Geneva, sans-serif;
}

h1 {
  font-size: 1.75em;
  margin: 30px 0px;
  text-align: center;
}

section {
  position: relative;
  margin: 15px;
  border: 1px solid black;
  background-color: #aaa;
}

/* On small screens, increase margin on sides */
@media (max-width: 767px) {
  section {
    margin: 30px;
  }
}

section h2 {
  font-size: 1.25em;
  position: absolute;
  padding: 5px 25px;
  right: 0px;
  top: 0px;
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 1px 1px;
}

section p {
  margin: 50px 15px 15px;
}

h2.chicken {
  background-color: #d59898;
}

h2.beef {
  color: white;
  background-color: #c14543;
}

h2.sushi {
  background-color: #e5d198;
}